h1 {
	color: red;
			}
.gary-profile {

}
.gary-profile img {
	height: 400px;
	float: left;
	padding-right: 15px;	
}

.work-box {
	float: left;
	width: 200px;
	
}
.educ-box {
	/*float: right;
	width: 200px;*/
	
}
.images-bottom-page {
	float:left;
}